/*********************/
/* COMMON */
/*********************/

/*********************/
/* ELEMENTS */
/*********************/

html {
    scroll-behavior: smooth;
}
body {
    padding-top: 50px;
    position: relative;
}
div {
    z-index: 1;
}
h1 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #575756;;
}
h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #575756;
    margin-top: 30px;
    margin-bottom: 20px;
}
h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #575756;;
}
h4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #575756;;
}
h5 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #B1B1B1;
}
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #B1B1B1;
}
:focus, a:focus {
    outline: none; /* remove typical bootstrap blue outline when focused */
}
a {
    color: #575756;
    text-decoration: underline;
}
a:hover {
    color: #322e2d;
}
p, li {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #575756;;
}
hr {
    border-top: 3px solid #575756;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 125px;
}
/*********************/
/* GENERAL USE */
/*********************/

.section {
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.padding-top {
    padding-top: 5vh;
}
.padding-bottom {
    padding-bottom: 5vh;
}
.small-margin-vertical {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.small-margin-top {
    margin-top: 2vh;
}
.small-margin-bottom {
    margin-bottom: 2vh;
}
#first-row {
    margin-top: 545px;
    padding-top: 0;
}
.first-row {
    margin-top: 120px;
    padding-top: 0;
}
.header-section {
    padding-bottom: 3vh;
    padding-top: 3vh;
}
.title-spacer {
    padding-bottom: 30px;
}
/* #how h2, #singing h2, #speech h2, #audio-music h2 {
    padding-bottom: 30px;
} */
.grey-bg {
    background-color: rgb(247,247,247);
}
.subtitle {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: #575756;;
}
.icon-img {
    padding-top: 30px;
    padding-bottom: 30px;
    /* height: 183px; */
    /* width: 100px; */
    width: auto;
    height: auto;
    object-fit: none;
}
.icon-img-hover {
    display: none;
}
.icon-link:hover .icon-img-hover {
    display: inline;
}
.icon-link:hover .icon-img-default {
    display: none;
}
.visible-inline {
    display: inline;
}
.pull-none {
    float: none !important;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.equal-height {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.equal-height:after, 
.equal-height:before {
   display: flex;
}
.equal-height > [class*='col-'] > img {
    align-self: center;
}
.equal-height > [class*='col-'] > a.btn {
    margin-top: auto;
}
.code-tabs pre {
    display: grid;
    text-align: left;
    padding: 0;
    margin: 0;
}
#gallery {
    padding-top: 30px;
}
.no-border {
    border: 0;
}
.left-border {
    border-left: 1px solid #ddd;
}
.right-border {
    border-right: 1px solid #ddd;
}
.vertical-center,
.table>tbody>tr>td.vertical-center {
    vertical-align: middle;
}
div.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}
.title-uppercase h1, .title-uppercase h2, .title-uppercase h3, .title-uppercase h4, .title-uppercase h5, .title-uppercase h6  {
    text-transform: uppercase;
}
h4.panel-title a {
    text-decoration: none;
    font-weight: normal;
}

/*********************/
/* NAV BAR */
/*********************/

.navbar {
    border-color: transparent;
    background-color: #FFFFFF;
}
.navbar .navbar-header {
    padding-left: 30px;
}
.navbar .navbar-header .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
}
.navbar .navbar-header .navbar-brand img {
    height: 32px;
}
.navbar .navbar-header .navbar-toggle:focus {
    background-color: transparent;
}
/* center align navbar items */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
#navbar-main a, #navbar-right a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #3C3C3B;
    text-decoration: none;
}
#navbar-main a:hover, #navbar-right a:hover{
    text-decoration: underline;
}
#navbar-main a.navbar-btn, #navbar-right a.navbar-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 9px;
    margin-bottom: 0;
    margin-left: 10px;
}
@media (max-width: 991px) {
    #navbar-main {
        background-color: rgb(231,231,231);
    }
}

/*********************/
/* FOOTER */
/*********************/

footer {
    background-color: rgb(60,60,59);
    padding-top: 30px;
    padding-bottom: 100px;
}
footer .row {
    margin-right: 0;
    margin-left: 0;
}
footer p {
    color: #B1B1B1;
    font-size: 14px;
}
footer h5 {
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 0px;
}
footer h6 {
    font-weight: normal;
}
footer a {
    color: #B1B1B1;
}
footer a:hover {
    color: #ffffff;
}
/* footer #social {
    margin-top: 15px;
} */
footer #social img {
    padding-right: 5px;
}
footer #social a {
    text-decoration: none;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul ul {
    margin-left: 15px;
}
#footer-logo {
    padding-bottom: 20px;
}

/*********************/
/* RUBRIC BACKGROUND */
/*********************/

#rubric {
    position: relative;
}
#rubric-inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/rubric_small.png"), url("../img/rubric_big.png"), url("../img/rubric_small.png"), url("../img/rubric_big.png");
    background-position: -95px 0px, -200px 650px, 90vw 450px, 85vw 1150px;
    background-repeat: repeat-y;
    z-index: 0;
}
#rubric-inner.rubric-small:after {
    background-image: url("../img/rubric_small.png"), url("../img/rubric_small.png"), url("../img/rubric_small.png"), url("../img/rubric_small.png");
}
@media (min-width: 768px) and (max-width: 992px) {
    #rubric-inner:after {
        background-position: -150px 0px, -300px 650px, 90vw 450px, 85vw 1150px;
    }
}
@media (max-width: 767px) {
    #rubric-inner:after {
        background-image: none;
    }
}

/*********************/
/* VIDEO RELATED CSS */
/*********************/

.video-modal .modal-dialog {
    border-radius: 0;
}
.video-modal .modal-body {
    background-color: rgb(60,60,59);
    padding: 50px;
}
.video-modal .modal-body .close {
    position: absolute;
    top: 0;
    right: 14px;
    color: #FFFFFF;
    font-size: 42px;
}
.video-modal .modal-body .close:hover {
    cursor: pointer;
    cursor: hand;
}
.video-modal .modal-body .close:focus {
    outline: none;
}
.video-modal .modal-title {
    color: #FFFFFF;
    position: absolute;
    top: -40px;
    width: 100%;
    text-align: center;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container {
    z-index: 10;
}
.play-video-img {
    width: 100%;
}

/*********************/
/* CONTACT */
/*********************/

#contact {
    background-color: rgb(87,87,86);
    color: #B1B1B1;
    padding-top: 20px;
}
#contact h2 {
    color: #B1B1B1;
}
#contact p {
    color: #B1B1B1;
}
#contact #send {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgb(202,85,93);
    border-color: rgb(202,85,93);
}
.contact-boxes {
    padding-top: 50px;
}
.contact-box {
    padding-top: 10px;
}
.contact-box img {
    padding-bottom: 20px;
    max-height: 70px;
    max-width: 70px;
    width: auto;
    height: auto;
}
.form-control {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #B1B1B1;
    border-color: #B1B1B1;
    background-color: rgb(87,87,86);
}
textarea.form-control {
    resize: vertical;
}

/*********************/
/* SPECIFIC PAGES */
/*********************/

/*********************/
/* INDEX */
/*********************/

#slider, #video-carousel {
    background: url("../img/slider.jpg") 60%;
    background-size: cover;
    height: 545px;
    position: absolute;
    left: 0;
    right: 0;
}
#slider a {
    outline: none;
    z-index: 10;
}
#slider img#player {
    display: block;
    margin: auto;
    width: 142px;
    padding-top: 201px;
}
#video-carousel .carousel-inner {
    height: 545px;
}
#video-carousel .video-text-block {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.youtube-16by9 {
    position: relative;
    padding-top: 28.125%;
    padding-bottom: 28.125%;
}
.youtube-video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
#video-carousel .row, #video-carousel .item {
    height: 100%;
} 
.carousel-indicators .active {
    background-color: #f6a802;
}
.carousel-indicators li {
    border-color: #f6a802;
}
.carousel-control {
    color: #f6a802;
}
#how .vertical-block, #tools .vertical-block {
    padding-bottom: 20px;
    padding-top: 20px;
}
#home-services .vertical-block img {
    height: 88px;
    margin-bottom: 20px;
}
.table-center-content>tbody>tr>td,
.table-center-content>tbody>tr>th,
.table-center-content>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}
.table-hide-empty-cells {
    border-collapse: separate;
    empty-cells: hide;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    #video-carousel .video-text-block {
        padding: 10px 30px;
    }
}
@media (min-width: 768px) {
    #video-carousel .video-text-block {
        top: 50%;
        transform: translateY(-50%);
    }
    #video-carousel .carousel-inner {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .youtube-video-parent {
        top: 50%;
        transform: translateY(-50%);
    }
}

/*********************/
/* PLUGINS */
/*********************/

.plugins-table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.plugins-table th, .plugins-table td {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}
.plugins-table tr:nth-child(even) {background-color: #f2f2f2;}
.plugins-table th:first-child, .plugins-table td:first-child {
    border-right: 1px solid #000000;
}
.btn-demos {
    background-color: rgb(247,247,247);
    border: 2px #575756 solid;
    color: #575756;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    padding: 6px 30px;
    text-decoration: none;
}
.btn-demos:focus, .btn-demos:hover {
    background-color: #575756;
    border-color: #575756;
    color: rgb(247,247,247);
}

/*********************/
/* ABOUT US */
/*********************/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
  padding-bottom: 5px;
}

.card > p {
  font-size: 16px;
}

.card > h4 {
  font-size: 1.5vw;
}

.team-pic {
  max-width: 100%;
  max-height: 150px;
  height: auto;
}

/*********************/
/* WHO USES IT? */
/*********************/

.who-uses-it-panel {
    border: none !important;
    margin-bottom: 0px;
}
.who-uses-it-panel p {
    font-size: 17px;
}
.who-uses-it-panel > .collapse{
    padding: 3em 1em;
}
.client-box {
    padding-bottom: 40px;
}
#people h2 {
    padding-bottom: 40px;
}
#people .subtitle {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 40px;
}
#clients h2 {
    padding-bottom: 60px;
}
#clients h4 {
    padding-top: 20px;
}
.slick-carousel img {
    opacity: 1;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}
.slick-carousel img:hover {
    opacity: .6;
}
.btn-play-demo, .btn-play-demo:focus, .btn-play-demo:active, .btn-play-demo:active:focus {
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;
    color: #575756;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 40px;
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}
.btn-play-demo:hover {
    background-color: #575756;
    border-color: #575756;
    color: rgb(247,247,247);
}

/*********************/
/* DEMOS */
/*********************/

.demo-boxes {
    padding-top: 60px;
}
.demo-boxes .row {
    display: flex;
    padding-bottom: 30px;
}
.demo-box {
    background-color: white;
    background-clip: content-box;
}
.demo-box img {
    padding-top: 30px;
    padding-bottom: 50px;
}
.demo-box .text-box {
    text-align: left;
    padding: 20px;
    /* padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px; */
}
#try .subtitle, #gallery .subtitle, #demo-trial .subtitle {
    margin-top: 30px;
}
#try .demo-box.votrans, #demo-trial .demo-box.votrans {
    background-color: #e9545c;
}
#try .demo-box.vosyn, #demo-trial .demo-box.vosyn {
    background-color: #f7a906;
}
#try .demo-box.voscale, #demo-trial .demo-box.voscale {
    background-color: #28aa91;
}
#try .demo-box h1, #demo-trial .demo-box h1 {
    color: #FFFFFF;
    margin-top: 0;
}
#try .demo-box h3, #demo-trial .demo-box h3 {
    color: #FFFFFF;
    /* padding-top: 20px; */
    margin-bottom: 0;
}
#try .demo-box h6, #demo-trial .demo-box h6 {
    color: #FFFFFF;
    font-weight: normal;
}
#try .demo-box p, #demo-trial .demo-box p{
    color: #FFFFFF;
    height: 100px;
}
.div-start-demo {
    text-align: center;
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.btn-start-demo, .btn-start-demo:focus, .btn-start-demo:active {
    background-color: transparent;
    border-color: #FFFFFF;
    border-width: 2px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 40px;
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}
.btn-start-demo:hover, .btn-start-demo:active:focus {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #575756;
}
@media (min-width: 992px) and (max-width: 1140px) {
    #try .demo-box h1, #demo-trial .demo-box h1 {
        font-size: 34px;
    }
}
@media (min-width: 1140px) and (max-width: 1250px) {
    #try .demo-box h1 {
        font-size: 40px;
    }
}
/*********************/
/* MEDIA QUERIES */
/*********************/

@media (max-width: 767px) {
    br {
        display: none;
    }
    table br {
        display: block;
    }
    #footer-menu {
      display: none;
    }
    .footer br {
        display: block;
    }
    .modal-body {
        padding: 30px;
    }
    .modal-body .close {
        font-size: 25px;
        top: 2px;
        right: 9px;
    }
}




.lyrics {
  padding-top: 30px;
}

.original-lyrics {
    background-color: rgba(100,0,0,.05);
    color: rgba(0,0,0,.3);
    text-decoration: line-through;
    font-style: italic;
    font-size: 16px;
}


.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.glyphicon.glyphicon-info-sign {
    font-size: 20px;
}

/*********************/
/* PRICING */
/*********************/

.pricing {
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 30px;
}

.pricing .card {
  padding-top: 10px;
  padding-bottom: 30px;
}

.price {
  padding-top: 15px;
  padding-bottom: 15px;
}

.price span {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575756;
}

.price-text{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #575756;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pricing ul {
  text-align: left;
  margin-left: 10px;
}

.price:before{
  content: ' '; display: block;

}

.pricing .row {
  margin-top: 20px;
}

.footnote p {
  font-size: 12px;
}

#products-container hr {
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 2px solid #575756;
  width: 100%;
}

#products-container p {
  margin-top: 20px;
}

#products-container img {
  height: 88px;
  margin-bottom: 20px;
  align-self: center;
}

@media (max-width: 767px) {
  .product-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .product-content {
    display: flex;
    flex-direction: column;
  }
}
