body {
    padding-top: 50px;
    position: relative;
}
.navbar {
    border-color: transparent;
    background-color: #FFFFFF;
}
.navbar .navbar-header {
    padding-left: 30px;
}
.navbar .navbar-header .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
}
.navbar .navbar-header .navbar-brand img {
    height: 30px;
}
.navbar .navbar-header .navbar-toggle:focus {
    background-color: transparent;
}
/* center align navbar items */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}

@media (max-width: 991px) {
    #navbar {
        background-color: rgb(231,231,231);
    }
}
#navbar a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #3C3C3B;
    text-decoration: none;
}
#navbar a:hover {
    text-decoration: underline;
}
#navbar a.navbar-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 9px;
    margin-bottom: 0;
}
#slider {
    background: url("../img/slider.jpg") 60%;
    background-size: cover;
    height: 545px;
    position: absolute;
    left: 0;
    right: 0;
}
#slider a {
    outline: none;
}
#slider img#player {
    display: block;
    margin: auto;
    width: 142px;
    padding-top: 201px;
}
#first-row {
    margin-top: 545px;
    padding-top: 0;
}
.section {
    padding-bottom: 100px;
    padding-top: 100px;
}
.grey-bg {
    background-color: rgb(247,247,247);
}
h1 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #575756;;
}
h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #575756;
}
h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #575756;;
}
h4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #575756;;
}
h5 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #B1B1B1;
}
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #B1B1B1;
}
a {
    color: #575756;
    text-decoration: underline;
}
p {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #575756;;
}
hr {
    border-top: 3px solid #575756;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 125px;
}
.subtitle {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: #575756;;
}
.icon-img {
    padding-top: 60px;
    padding-bottom: 30px;
}
.tech-boxes {
    padding-top: 60px;
}
.tech-box {
    background-color: white;
    background-clip: content-box;
}
.tech-box img {
    padding-top: 30px;
    padding-bottom: 50px;
}
#how h2 {
    padding-bottom: 40px;
}
#how .vertical-block {
    padding-bottom: 20px;
    padding-top: 20px;
}
#clients h2 {
    padding-bottom: 60px;
}
#clients h4 {
    padding-top: 20px;
}
#clients .client-box {
    padding-bottom: 40px;
}
#people h2 {
    padding-bottom: 40px;
}
#people .subtitle {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 40px;
}
#contact {
    background-color: rgb(87,87,86);
    color: #B1B1B1;
    padding-top: 50px;
}
#contact h2 {
    color: #B1B1B1;
    padding-bottom: 50px;
}
#contact p {
    color: #B1B1B1;
}
.form-control {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #B1B1B1;
    border-color: #B1B1B1;
    background-color: rgb(87,87,86);
}
#contact #send {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgb(202,85,93);
    border-color: rgb(202,85,93);
}
.contact-boxes {
    padding-top: 50px;
}
.contact-box {
    padding-top: 30px;
}
.contact-box img {
    padding-bottom: 20px;
    max-height: 70px;
    max-width: 70px;
    width: auto;
    height: auto;
}
footer {
    background-color: rgb(60,60,59);
    padding-top: 30px;
    padding-bottom: 100px;
}
footer .row {
    margin-right: 0;
    margin-left: 0;
}
footer p {
    color: #B1B1B1;
    font-size: 14px;
}
footer h5 {
    font-weight: normal;
    margin-bottom: 15px;
}
footer h6 {
    font-weight: normal;
}
footer h6 a {
    color: #B1B1B1;
}
footer #social {
    margin-top: 15px;
}
footer #social img {
    padding-right: 5px;
}
#footer-logo {
    padding-bottom: 20px;
}
.modal-dialog {
    border-radius: 0;
}
.modal-body {
    background-color: rgb(60,60,59);
    padding: 50px;
}
.modal-body .close {
    position: absolute;
    top: 0;
    right: 14px;
    color: #FFFFFF;
    font-size: 42px;
}
.modal-body .close:hover {
    cursor: pointer;
    cursor: hand;
}
.modal-body .close:focus {
    outline: none;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    br {
        display: none;
    }
    .footer br {
        display: block;
    }
    .modal-body {
        padding: 30px;
    }
    .modal-body .close {
        font-size: 25px;
        top: 2px;
        right: 9px;
    }
}